@{
    ViewData["Title"] = "Inicio";
}

<div class="container">


    <br>
    <br>
    <h1 class="header center black-text">Tienda de artículos variados</h1>
    <div class="row center">
        <h5 class="header col s12 light">Desde martillos hasta golosinas, aquí encontrarás eso que tanto has estado buscando.</h5>
    </div>

    <div class="row center">
        <br />
        <a asp-area="" asp-controller="Compra" asp-action="Create" class="btn-large waves-effect waves-white btn">Hacer una compra</a>

    </div>
    <br>
    <br>

</div>
