@{
    ViewData["Title"] = "Inicio";
}

<div class="container">

    <br>
    <br>
    <h1 class="header center black-text">Direcciones IPv4</h1>
    <div class="row center">
        <h5 class="header col s12 light">Pon a prueba todos tus conocimientos resolviendo ejercicios prácticos</h5>
    </div>

    <div class="row center">
        <a asp-area="" asp-controller="Alumno" asp-action="Index" class="btn-large waves-effect waves-white btn">Empezar entrenamiento</a>

    </div>
    <br>
    <br>

</div>
