@model IEnumerable<WebAppLuisMendozaSamuel.Models.Entidades.Alumno>
@{
    ViewData["Title"] = "Lista de alumnos";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    <h2>Lista de Alumnos</h2>
    
    <h5>
        @Html.ActionLink("Ir a entrenamiento", "Entrenamiento", new { correo = UserManager.GetUserName(User) })
        <i class="material-icons">fitness_center</i>
    </h5>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.IdAlumno</td>
                    <td>@item.Correo</td>
                </tr>

            }
        </tbody>
    </table>

}
else
{
    <h2>Aún no hay alumnos registrados</h2>
    @Html.ActionLink("Entrenamiento", "Entrenamiento", new { correo = UserManager.GetUserName(User) })

}


